body{
    color: cornflowerblue;
    align-items: center;
    text-align: center;

}

table{
margin-left: 280px ;
background-color:brown;


}
#fejlec{
    background-color: burlywood;





}